node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
.DS_Store
vendor
/public/storage
/public/hot
/storage/*.key
/storage/framework/cache/*
/storage/framework/views/*
/storage/framework/sessions/*
/storage/logs/*
/bootstrap/cache/*
.phpunit.result.cache
Homestead.json
Homestead.yaml
.vagrant
.idea
.vscode
